.product-info h3 a {
   color: var(--primary-color);
   font-size: 1.2rem;
   font-weight: 600;
}

.product-info span {
   font-size: 0.9rem;
}

.product-name a {
   font-size: 1rem;
}

.product-name a:hover {
   color: inherit;
}

.product-card-bottom .price {
   color: var(--primary-color);
   font-size: 1.3rem;
   font-weight: 500;
}

.product-card-bottom span i {
   border-radius: 50%;
   padding: 10px;
   cursor: pointer;
   background-color: var(--primary-color);
   color: #fff;
}



.product-item {
   cursor: pointer;
   padding: 10px 0;
}

@media (max-width: 992px) {
   .product-info h3 a {
      font-size: 1.1rem;
   }
}

@media (max-width: 768px) {
   .product-info h3 a {
      font-size: 1rem;
   }

   .product-card-bottom span i {
      font-size: 1rem;
   }

   .product {
      width: 47%;
   }
}

@media (max-width: 576px) {
   .product-info h3 a {
      font-size: 1rem;
   }

   .product-card-bottom span i {
      font-size: 1rem;
   }

   .product-info h3 a {
      font-size: 0.8rem;
   }

   .product-card-bottom .price {
      color: var(--primary-color);
      font-size: 1rem;
      font-weight: 500;
   }

   .product {
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.226);
      margin: 5px;
      margin-bottom: 10px;
   }

   .product-card-bottom span i {
      border-radius: 50%;
      padding: 7px;
      font-size: 0.9rem;
      cursor: pointer;
      background-color: var(--primary-color);
      color: #fff;
   }
}